# Environment variables
.env
.env.*
!.env.example

venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

logs/
*.log

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store